:root {
        --blue-dark3: #14181f;
        --blue-dark2: #1b202b;
        --blue-dark1: #1b2e53;
        --blue: #4781F5;
        --blue-icon: #20499AA6;
        --blue-light1: #80CFFF;
        --blue-gray: #262c37;
        --w50: #FFFFFF80;
        --w25: #FFFFFF40;
        --gray: #534F4F;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
        letter-spacing: 1px;
        font-family: "Work Sans";
    }
    body {
        overflow-x: hidden;
    }
    .container {
        width: 95%;
        max-width: 1180px;
    }
    a {
        text-decoration: none;
        color: inherit;
        width: fit-content;
    }
    .arrow-right {
        --color : white;
        stroke: var(--color);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round
    }
    button {
        font-family: "Work Sans";
        line-height: 24px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #4CAF50;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 30px;
    }
    button.contact {
        padding: 17px 35px;
    }
    .heading-section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #4B4B4B; 
    }
   
    .link-text-details {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #4B4B4B; 
    }
  
    .card-title-mobile {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
        color: #4B4B4B;
    }

    .card-body-mobile {
        color: #4B4B4B;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }


    .hero-section {
    position: relative;
    height: 811px;
    }
    .hero-section .hero-bg-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .hero-section .hero-sidebar {
        height: 100%;
        width: calc(100% - 78.81%);
        background-color: #465564;
        flex: 1;
    }
    .hero-section .hero-image-overlay {
        width: 78.81%;
        height: 100%;
        background: linear-gradient(180deg, #000000 -113.02%, rgba(0, 0, 0, 0) 100%), url("image/hero.svg");
        background-size: cover;
        max-width: 930px;
    }
    .hero-section .mobile-header-2 { 
        display: none;
    }
    @media only screen and (max-width: 1350px) {
        .hero-section .hero-image-overlay {
            width: 55%;
        }
    }
    @media only screen and (max-width: 1024px) {
        .hero-section .hero-bg-container {
            display: flex;
            flex-direction: column-reverse;
        }
        .hero-section .hero-sidebar {
            width: 100%;
        }
        .hero-section .hero-image-overlay {
            background-size: cover;
            background-repeat: no-repeat;
            max-width: unset;
            width: 100%;
            background-position: 50%;
        }
        .hero-section .hero-image-overlay .header {
            height: 70px;
            padding: 27px 20px;
            width: 100%;
            border-bottom: 2px solid #4CAF50;
        }
        .hero-section .mobile-header-2 {
            display: flex;
        }
        .logo {
            text-transform: capitalize;
            letter-spacing: 4px;
            color: white;
        }
    }
    .container {
        z-index: 2;
        width: 95%;
        height: 100%;
        padding: 41px 0 31px 0;
    }
    .hero-section .hero-title-border {
        width: 109px;
        height: 0px;
        opacity: 1;
        top: 222px;
        left: 246px;
        border: 1px solid white;
    }
    .hero-section .text-container {
        width: 770px;
    }
    .hero-section .text-container .text {
        width: 369px;
    }
    .arrow-pair {
        align-self: flex-end;
    }
    .logo {
        font-family: "Roboto";
        font-weight: 800;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #4CAF50;
    }
    header {
        width: 100%;
    }
    .robo {
        font-family: "Roboto";
    }
    .inter {
        font-family: "Inter";
    }
    .arrow-pair {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    @media only screen and (max-width: 1024px) {
        .arrow-pair {
            gap: 9px;
        }
        .arrow-pair img {
            width: 30px;
        }
        .hero-section {
            height: 734px;
        }
        .hero-section .arrow-pair {
            align-self: flex-end;
            position: relative;
            top: -109%;
        }
    }
    .content-main {
        padding: 100px 0 129px 0;
    }
    .content-main .about-us-section {
        height: 686px;
    }
    .content-main .about-us-section .about-us-left {
        position: relative;
        width: calc(54.5% - 23px);
        padding-bottom: 32px;
        height: 100%;
    }
    .content-main .about-us-section .about-us-left .main-image {
        width: 594.75px;
        height: 532px;
        border: 1px solid #C8E6C9;
        box-shadow: 0px 4px 30px 0px #0000001A, 22.84px 32px 0 #C8E6C9;
        background-image: url(image/main-room.jpg);
        background-position: 25%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-main .about-us-section .about-us-left .arrow-pair {
        position: absolute;
        bottom: 14px;
        right: 6.08%;
    }
    .content-main .about-us-section .about-us-right {
        width: calc(45.5% - 23px);
        height: 100%;
    }
    .content-main .about-us-section .about-us-right .bed {
        width: 192.22px;
        height: 202px;
    }
    .content-main .about-us-section .about-us-right .text {
        padding-bottom: 6px;
    }
    .content-main .about-us-section .about-us-right-mobile {
        display: none;
    }
    @media only screen and (max-width: 1158px   ) {
        .content-main .about-us-section {
            flex-direction: column;
            height: unset;
        }
        .content-main .about-us-section .about-us-left {
            width: fit-content;
            gap: 11px;
        }
        .content-main .about-us-section .about-us-left .main-image {
            box-shadow: 0px 4px 30px 0px #0000001A, 12.39px 17.36px 0 #C8E6C9;
        }
        .content-main .about-us-section .about-us-left .arrow-pair {
            position: absolute;
            bottom: 25px;
            right: 6.08%;
        }
        .content-main .about-us-section .about-us-right {
            display: none;
        }
        .content-main .about-us-section .about-us-right-mobile {
            width: 1025px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 10px;
        }
        .content-main .about-us-section .about-us-right-mobile .card {
            width: 335px;
            height: 203.89px;
            display: flex;
            align-items: flex-end;
            background-size: cover;
            background-position: 50%;
        }
        .content-main .about-us-section .about-us-right-mobile .text {
            height: 105px;
            padding: 0 13px;
            background-color: #D9D9D9B2;
        }
        .content-main .about-us-section .about-us-right-mobile img.arrow {
            width: 20px;
        }
    }
    @media only screen and (max-width: 660px) {
        .content-main .about-us-section {
            width: 100%;
        }
        .content-main .about-us-section .about-us-left {
            width: 95%;
            max-width: 335px;
            align-self: center;
        }
        .content-main .about-us-section .about-us-left .main-image {
            width: 322.61px;
            height: 288.57px;
        }
    }
   
    .content-main .products-section .products-grid {
        width: 1180px;
        width: 1180px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
    }
    .content-main .products-section .product-card {
        background-color: #c8e6c9;
        height: 400px;
        width: calc((100% - 20px * 3) / 4);
        padding: 32px 19px 24px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .content-main .products-section .product-card .buy-icon {
        width: 39px;
        height: 36px;
        background-color: #FEFEFF73;
        background-image: url(image/shoppping.svg);
        backdrop-filter: blur(4px);
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .content-main .products-section .product-card .price {
        background: #FFFFFF73;
        backdrop-filter: blur(4px);
        padding: 12px 0px;
        border: 0;
        width: 128px;
        color: #4CAF50;
    }
    .content-main .products-section .product-card img {
        position: absolute
    }
    #item1 {
        top: 112px;
        left: 97px;
    }
    #item2 {
        top: 94px;
        left: 102px;
    }
    #item3 {
        top: 112px;
        left: 35px;
    }
    #item4 {
        top: 85px;
        left: 34px;
    }
    .content-main .contact-section {
        height: 564px;
    }
    .content-main .contact-section .contact-form-col {
        height: 100%;
        width: calc(44% - 28px);
    }
    .content-main .contact-section .contact-form-col .form {
        width: 100%;
    }
    .content-main .contact-section .contact-map-col {
        height: 100%;
        width: calc((100% - 44%) - 28px);
    }
    .content-main .contact-section .contact-map-col .map-image {
        position: relative;
        right: 0;
        width: 594.76px;
        height: 532px;
        background-image: url(image/Maps.png);
        box-shadow: 0px 4px 30px 0px #0000001A, -26.8px 32px #C8E6C9;
        border: 1px solid #C8E6C9;
        backdrop-filter: blur(4px);
        background-size: cover;
        background-position: 50%;
    }
    .content-main .contact-section .contact-map-col .map-image img {
        position: absolute;
        top: 254px;
        left: 344.98px;
    }
    @media only screen and (max-width: 660px) {
        .content-main .contact-section .contact-map-col .map-image {
            width: 320.55px;
            height: 286.73px;
            box-shadow: 0px 4px 30px 0px #0000001A, -14.4px 17.5px #C8E6C9;
        }
        .content-main .contact-section .contact-map-col .map-image img {
            display: none;
        }
    }
    @media only screen and (max-width: 1132px) {
        .content-main .contact-section {
            flex-direction: column;
            height: unset;
        }
        .content-main .contact-section .contact-form-col {
            width: 100%;
            gap: 25px;
        }
        .content-main .contact-section .contact-map-col {
            width: 100%;
        }
        .content-main .contact-section .contact-map-col .map-image {
            right: 50%;
            transform: translateX(50%);
        }
    }
  
    .content-main .testimonial-section .testimonial-list {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 8px;
        min-height: 348px;
        width: 1188px;
    }
    .content-main .testimonial-section .testimonial-card {
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;
        position: relative;
        width: calc(100% / 3 - 34px * 2 / 3);
        background: #F6F6F6;
        border: 1px solid #C8E6C9;
        box-shadow: 0px 4px 30px 0px #0000001A;
        padding: 50px 30px 0;
        height: 276px;
        border-radius: 8px;
    }
    .content-main .testimonial-section .testimonial-card .text {
        color: #2D2E2E;
    }
    .content-main .testimonial-section .testimonial-card .user {
        position: absolute;
        bottom: -26%;
    }
    .content-main .testimonial-section .testimonial-card .user div {
        color: #2D2E2E;
    }
    @media only screen and (max-width: 1024px) {
        .content-main .testimonial-section .testimonial-card {
            opacity: 0;
        }
    }
    .content-main .testimonial-section .testimonial-card.active-card {
        opacity: 1;
        padding: 50px 22px 90px;
        background: #C8E6C9;
        box-shadow: 0px 4px 30px 0px #0000001A;

    }
    @media only screen and (max-width: 1132px) {
        .content-main .testimonial-section {
            gap: 52px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 660px) {
        .content-main {
            padding: 50px 0;
        }
        .content-main .container {
            gap: 50px
        }
    }
    .form-input-field {
        background: #F6F6F6;
        padding: 16px 17px;
        border: 2px solid #4CAF50;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ABABAB;
    }
    .form-textarea-field {
        height: 89px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #465564;
        padding: 54px 0;
    }
    footer .newsletter-email-group {
        max-width: 473px;
        width: 100%;
    }
    footer .form-input-field {
        max-width: calc(473px - 154px);
        padding: 18px 16px;
    }
    footer button {
        padding: 18px 32.5px;
    }
    footer hr {
        margin-top: 23px;
        margin-bottom: 19px;
        border: 2px solid #4CAF50;
    }
    @media only screen and (max-width: 1024px) {
        footer hr {
            margin-top: 14px;
            margin-bottom: 14px;
            border: 1px solid #4CAF50;
        }
    }

    .line-80 {
        line-height: 80px;
    }
    .line-44 {
        line-height: 44px;
    }
    .line-32 {
        line-height: 32px;
    }
    .line-24 {
        line-height: 24px;
    }
    .line-22 {
        line-height: 22px;
    }
    .line-20 {
        line-height: 20px;
    }
    .Mobile {
        display: none;
    }
    .Tablet {
        display: none;
    }
    .PC {
        display: flex;
    }

    .c-green {
        color: #4CAF50;
    }
    .c-gray {
        color: #4B4B4B;
    }
    .c-black {
        color: black;;
    }
    .flex-c {
        display: flex;
        flex-direction: column;
    }
    .flex-r {
        display: flex;
        flex-direction: row;
    }
    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .a-center {
        display: flex;
        align-items: center;
    }
    .a-end {
        display: flex;
        align-items: flex-end;
    }
    .a-start {
        display: flex;
        align-items: flex-start;
    }
    .j-center {
        display: flex;
        justify-content: center;
    }
    .j-left {
        display: flex;
        justify-content: left;
    }
    .j-right {
        display: flex;
        justify-content: right;
    }
    .j-between {
        justify-content: space-between;
    }
    .j-evenly {
        justify-content: space-evenly;
    }
    .j-around {
        justify-content: space-around;
    }

    .text-center {
        text-align: center;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .text-justify {
        text-align: justify;
    }

    .w1 {
        font-weight: 100;
    }

    .w2 {
        font-weight: 200;
    }

    .w3 {
        font-weight: 300;
    }

    .w4 {
        font-weight: 400;
    }

    .w5 {
        font-weight: 500;
    }

    .w6 {
        font-weight: 600;
    }

    .w7 {
        font-weight: 700;
    }

    .w8 {
        font-weight: 800;
    }

    .w9 {
        font-weight: 900;
    }
    .f1 {
        font-size: 1px;
    }

    .f2 {
        font-size: 2px;
    }

    .f3 {
        font-size: 3px;
    }

    .f4 {
        font-size: 4px;
    }

    .f5 {
        font-size: 5px;
    }

    .f6 {
        font-size: 6px;
    }

    .f7 {
        font-size: 7px;
    }

    .f8 {
        font-size: 8px;
    }

    .f9 {
        font-size: 9px;
    }

    .f10 {
        font-size: 10px;
    }

    .f11 {
        font-size: 11px;
    }

    .f12 {
        font-size: 12px;
    }

    .f13 {
        font-size: 13px;
    }

    .f14 {
        font-size: 14px;
    }

    .f15 {
        font-size: 15px;
    }

    .f16 {
        font-size: 16px;
    }

    .f17 {
        font-size: 17px;
    }

    .f18 {
        font-size: 18px;
    }

    .f19 {
        font-size: 19px;
    }

    .f20 {
        font-size: 20px;
    }

    .f21 {
        font-size: 21px;
    }

    .f22 {
        font-size: 22px;
    }

    .f23 {
        font-size: 23px;
    }

    .f24 {
        font-size: 24px;
    }

    .f25 {
        font-size: 25px;
    }

    .f26 {
        font-size: 26px;
    }

    .f27 {
        font-size: 27px;
    }

    .f28 {
        font-size: 28px;
    }

    .f29 {
        font-size: 29px;
    }

    .f30 {
        font-size: 30px;
    }

    .f31 {
        font-size: 31px;
    }

    .f32 {
        font-size: 32px;
    }

    .f33 {
        font-size: 33px;
    }

    .f34 {
        font-size: 34px;
    }

    .f35 {
        font-size: 35px;
    }

    .f36 {
        font-size: 36px;
    }

    .f37 {
        font-size: 37px;
    }

    .f38 {
        font-size: 38px;
    }

    .f39 {
        font-size: 39px;
    }

    .f40 {
        font-size: 40px;
    }

    .f41 {
        font-size: 41px;
    }

    .f42 {
        font-size: 42px;
    }

    .f43 {
        font-size: 43px;
    }

    .f44 {
        font-size: 44px;
    }

    .f45 {
        font-size: 45px;
    }

    .f46 {
        font-size: 46px;
    }

    .f47 {
        font-size: 47px;
    }

    .f48 {
        font-size: 48px;
    }

    .f49 {
        font-size: 49px;
    }

    .f50 {
        font-size: 50px;
    }

    .f51 {
        font-size: 51px;
    }

    .f52 {
        font-size: 52px;
    }

    .f53 {
        font-size: 53px;
    }

    .f54 {
        font-size: 54px;
    }

    .f55 {
        font-size: 55px;
    }

    .f56 {
        font-size: 56px;
    }

    .f57 {
        font-size: 57px;
    }

    .f58 {
        font-size: 58px;
    }

    .f59 {
        font-size: 59px;
    }

    .f60 {
        font-size: 60px;
    }

    .f61 {
        font-size: 61px;
    }

    .f62 {
        font-size: 62px;
    }

    .f63 {
        font-size: 63px;
    }

    .f64 {
        font-size: 64px;
    }

    .f65 {
        font-size: 65px;
    }

    .f66 {
        font-size: 66px;
    }

    .f67 {
        font-size: 67px;
    }

    .f68 {
        font-size: 68px;
    }

    .f69 {
        font-size: 69px;
    }

    .f70 {
        font-size: 70px;
    }

    .f71 {
        font-size: 71px;
    }

    .f72 {
        font-size: 72px;
    }

    .f73 {
        font-size: 73px;
    }

    .f74 {
        font-size: 74px;
    }

    .f75 {
        font-size: 75px;
    }

    .f76 {
        font-size: 76px;
    }

    .f77 {
        font-size: 77px;
    }

    .f78 {
        font-size: 78px;
    }

    .f79 {
        font-size: 79px;
    }

    .f80 {
        font-size: 80px;
    }

    .f81 {
        font-size: 81px;
    }

    .f82 {
        font-size: 82px;
    }

    .f83 {
        font-size: 83px;
    }

    .f84 {
        font-size: 84px;
    }

    .f85 {
        font-size: 85px;
    }

    .f86 {
        font-size: 86px;
    }

    .f87 {
        font-size: 87px;
    }

    .f88 {
        font-size: 88px;
    }

    .f89 {
        font-size: 89px;
    }

    .f90 {
        font-size: 90px;
    }

    .f91 {
        font-size: 91px;
    }

    .f92 {
        font-size: 92px;
    }

    .f93 {
        font-size: 93px;
    }

    .f94 {
        font-size: 94px;
    }

    .f95 {
        font-size: 95px;
    }

    .f96 {
        font-size: 96px;
    }

    .f97 {
        font-size: 97px;
    }

    .f98 {
        font-size: 98px;
    }

    .f99 {
        font-size: 99px;
    }
    .line-140 {
        line-height: 140%;
    }
    .line-120 {
        line-height: 120%;
    }
    .line-110 {
        line-height: 110%;
    }
    .g1 {
       gap: 1px;
    }

    .g2 {
       gap: 2px;
    }

    .g3 {
       gap: 3px;
    }

    .g4 {
       gap: 4px;
    }

    .g5 {
       gap: 5px;
    }

    .g6 {
       gap: 6px;
    }

    .g7 {
       gap: 7px;
    }

    .g8 {
       gap: 8px;
    }

    .g9 {
       gap: 9px;
    }

    .g10 {
       gap: 10px;
    }

    .g11 {
       gap: 11px;
    }

    .g12 {
       gap: 12px;
    }

    .g13 {
       gap: 13px;
    }

    .g14 {
       gap: 14px;
    }

    .g15 {
       gap: 15px;
    }

    .g16 {
       gap: 16px;
    }

    .g17 {
       gap: 17px;
    }

    .g18 {
       gap: 18px;
    }

    .g19 {
       gap: 19px;
    }

    .g20 {
       gap: 20px;
    }

    .g21 {
       gap: 21px;
    }

    .g22 {
       gap: 22px;
    }

    .g23 {
       gap: 23px;
    }

    .g24 {
       gap: 24px;
    }

    .g25 {
       gap: 25px;
    }

    .g26 {
       gap: 26px;
    }

    .g27 {
       gap: 27px;
    }

    .g28 {
       gap: 28px;
    }

    .g29 {
       gap: 29px;
    }

    .g30 {
       gap: 30px;
    }

    .g31 {
       gap: 31px;
    }

    .g32 {
       gap: 32px;
    }

    .g33 {
       gap: 33px;
    }

    .g34 {
       gap: 34px;
    }

    .g35 {
       gap: 35px;
    }

    .g36 {
       gap: 36px;
    }

    .g37 {
       gap: 37px;
    }

    .g38 {
       gap: 38px;
    }

    .g39 {
       gap: 39px;
    }
    .g40 {
        gap: 40px;
    }
    .g41 {
        gap: 41px;
    }
    .g42 {
        gap: 42px;
    }
    .g43 {
        gap: 43px;
    }
    .g44 {
        gap: 44px;
    }
    .g45 {
        gap: 45px;
    }
    .g46 {
        gap: 46px;
    }
    .g47 {
        gap: 47px;
    }
    .g48 {
        gap: 48px;
    }
    .g49 {
        gap: 49px;
    }
    .g50 {
        gap: 50px;
    }
    .g51 {
        gap: 51px;
    }
    .g52 {
        gap: 52px;
    }
    .g53 {
        gap: 53px;
    }
    .g54 {
        gap: 54px;
    }
    .g55 {
        gap: 55px;
    }
    .g56 {
        gap: 56px;
    }
    .g57 {
        gap: 57px;
    }
    .g58 {
        gap: 58px;
    }
    .g59 {
        gap: 59px;
    }
    .g60 {
        gap: 60px;
    }
    .g61 {
        gap: 61px;
    }
    .g62 {
        gap: 62px;
    }
    .g63 {
        gap: 63px;
    }
    .g64 {
        gap: 64px;
    }
    .g65 {
        gap: 65px;
    }
    .g66 {
        gap: 66px;
    }
    .g67 {
        gap: 67px;
    }
    .g68 {
        gap: 68px;
    }
    .g69 {
        gap: 69px;
    }
    .g70 {
        gap: 70px;
    }
    .g71 {
        gap: 71px;
    }
    .g72 {
        gap: 72px;
    }
    .g73 {
        gap: 73px;
    }
    .g74 {
        gap: 74px;
    }
    .g75 {
        gap: 75px;
    }
    .g76 {
        gap: 76px;
    }
    .g77 {
        gap: 77px;
    }
    .g78 {
        gap: 78px;
    }
    .g79 {
        gap: 79px;
    }
    .g80 {
        gap: 80px;
    }
    .g81 {
        gap: 81px;
    }
    .g82 {
        gap: 82px;
    }
    .g83 {
        gap: 83px;
    }
    .g84 {
        gap: 84px;
    }
    .g85 {
        gap: 85px;
    }
    .g86 {
        gap: 86px;
    }
    .g87 {
        gap: 87px;
    }
    .g88 {
        gap: 88px;
    }
    .g89 {
        gap: 89px;
    }
    .g90 {
        gap: 90px;
    }
    .g91 {
        gap: 91px;
    }
    .g92 {
        gap: 92px;
    }
    .g93 {
        gap: 93px;
    }
    .g94 {
        gap: 94px;
    }
    .g95 {
        gap: 95px;
    }
    .g96 {
        gap: 96px;
    }
    .g97 {
        gap: 97px;
    }
    .g98 {
        gap: 98px;
    }
    .g99 {
        gap: 99px;
    }
    .g100 {
        gap: 100px;
    }
    .opacity69 {
        opacity: 69%;
    }
    .letter0 {
        letter-spacing: 0px;
    }
    .letter1 {
        letter-spacing: 1px;
    }
    .letter2 {
        letter-spacing: 2px;
    }
    .letter3 {
        letter-spacing: 3px;
    }
    .letter4 {
        letter-spacing: 4px;
    }
    .letter5 {
        letter-spacing: 5px;
    }
    .letter6 {
        letter-spacing: 6px;
    }
    .letter7 {
        letter-spacing: 7px;
    }
    .letter8 {
        letter-spacing: 8px;
    }
    .letter9 {
        letter-spacing: 9px;
    }
    .letter10 {
        letter-spacing: 10px;
    }
    .letter11 {
        letter-spacing: 11px;
    }
    .letter12 {
        letter-spacing: 12px;
    }
    .letter13 {
        letter-spacing: 13px;
    }
    .letter14 {
        letter-spacing: 14px;
    }
    .letter15 {
        letter-spacing: 15px;
    }
    .letter16 {
        letter-spacing: 16px;
    }
    .letter17 {
        letter-spacing: 17px;
    }
    .letter18 {
        letter-spacing: 18px;
    }
    .letter19 {
        letter-spacing: 19px;
    }
    .letter20 {
        letter-spacing: 20px;
    }
    @media only screen and (max-width: 1024px) {
        .PC {
            display: none;
        }
        .Mobile {
            display: none;
        }
        .Tablet {
            display: flex;
        }
        .t-text-center {
            text-align: center;
        }
        .t-text-left {
            text-align: left;
        }
        .t-text-right {
            text-align: right;
        }
        .t-text-justify {
            text-align: justify;
        }
        .t-w1 {
            font-weight: 100;
        }

        .t-w2 {
            font-weight: 200;
        }

        .t-w3 {
            font-weight: 300;
        }

        .t-w4 {
            font-weight: 400;
        }

        .t-w5 {
            font-weight: 500;
        }

        .t-w6 {
            font-weight: 600;
        }

        .t-w7 {
            font-weight: 700;
        }

        .t-w8 {
            font-weight: 800;
        }

        .t-w9 {
            font-weight: 900;
        }
        .t-f1 {
            font-size: 1px;
        }

        .t-f2 {
            font-size: 2px;
        }

        .t-f3 {
            font-size: 3px;
        }

        .t-f4 {
            font-size: 4px;
        }

        .t-f5 {
            font-size: 5px;
        }

        .t-f6 {
            font-size: 6px;
        }

        .t-f7 {
            font-size: 7px;
        }

        .t-f8 {
            font-size: 8px;
        }

        .t-f9 {
            font-size: 9px;
        }

        .t-f10 {
            font-size: 10px;
        }

        .t-f11 {
            font-size: 11px;
        }

        .t-f12 {
            font-size: 12px;
        }

        .t-f13 {
            font-size: 13px;
        }

        .t-f14 {
            font-size: 14px;
        }

        .t-f15 {
            font-size: 15px;
        }

        .t-f16 {
            font-size: 16px;
        }

        .t-f17 {
            font-size: 17px;
        }

        .t-f18 {
            font-size: 18px;
        }

        .t-f19 {
            font-size: 19px;
        }

        .t-f20 {
            font-size: 20px;
        }

        .t-f21 {
            font-size: 21px;
        }

        .t-f22 {
            font-size: 22px;
        }

        .t-f23 {
            font-size: 23px;
        }

        .t-f24 {
            font-size: 24px;
        }

        .t-f25 {
            font-size: 25px;
        }

        .t-f26 {
            font-size: 26px;
        }

        .t-f27 {
            font-size: 27px;
        }

        .t-f28 {
            font-size: 28px;
        }

        .t-f29 {
            font-size: 29px;
        }

        .t-f30 {
            font-size: 30px;
        }

        .t-f31 {
            font-size: 31px;
        }

        .t-f32 {
            font-size: 32px;
        }

        .t-f33 {
            font-size: 33px;
        }

        .t-f34 {
            font-size: 34px;
        }

        .t-f35 {
            font-size: 35px;
        }

        .t-f36 {
            font-size: 36px;
        }

        .t-f37 {
            font-size: 37px;
        }

        .t-f38 {
            font-size: 38px;
        }

        .t-f39 {
            font-size: 39px;
        }

        .t-f40 {
            font-size: 40px;
        }

        .t-f41 {
            font-size: 41px;
        }

        .t-f42 {
            font-size: 42px;
        }

        .t-f43 {
            font-size: 43px;
        }

        .t-f44 {
            font-size: 44px;
        }

        .t-f45 {
            font-size: 45px;
        }

        .t-f46 {
            font-size: 46px;
        }

        .t-f47 {
            font-size: 47px;
        }

        .t-f48 {
            font-size: 48px;
        }

        .t-f49 {
            font-size: 49px;
        }

        .t-f50 {
            font-size: 50px;
        }

        .t-f51 {
            font-size: 51px;
        }

        .t-f52 {
            font-size: 52px;
        }

        .t-f53 {
            font-size: 53px;
        }

        .t-f54 {
            font-size: 54px;
        }

        .t-f55 {
            font-size: 55px;
        }

        .t-f56 {
            font-size: 56px;
        }

        .t-f57 {
            font-size: 57px;
        }

        .t-f58 {
            font-size: 58px;
        }

        .t-f59 {
            font-size: 59px;
        }

        .t-f60 {
            font-size: 60px;
        }

        .t-f61 {
            font-size: 61px;
        }

        .t-f62 {
            font-size: 62px;
        }

        .t-f63 {
            font-size: 63px;
        }

        .t-f64 {
            font-size: 64px;
        }

        .t-f65 {
            font-size: 65px;
        }

        .t-f66 {
            font-size: 66px;
        }

        .t-f67 {
            font-size: 67px;
        }

        .t-f68 {
            font-size: 68px;
        }

        .t-f69 {
            font-size: 69px;
        }

        .t-f70 {
            font-size: 70px;
        }

        .t-f71 {
            font-size: 71px;
        }

        .t-f72 {
            font-size: 72px;
        }

        .t-f73 {
            font-size: 73px;
        }

        .t-f74 {
            font-size: 74px;
        }

        .t-f75 {
            font-size: 75px;
        }

        .t-f76 {
            font-size: 76px;
        }

        .t-f77 {
            font-size: 77px;
        }

        .t-f78 {
            font-size: 78px;
        }

        .t-f79 {
            font-size: 79px;
        }

        .t-f80 {
            font-size: 80px;
        }

        .t-f81 {
            font-size: 81px;
        }

        .t-f82 {
            font-size: 82px;
        }

        .t-f83 {
            font-size: 83px;
        }

        .t-f84 {
            font-size: 84px;
        }

        .t-f85 {
            font-size: 85px;
        }

        .t-f86 {
            font-size: 86px;
        }

        .t-f87 {
            font-size: 87px;
        }

        .t-f88 {
            font-size: 88px;
        }

        .t-f89 {
            font-size: 89px;
        }

        .t-f90 {
            font-size: 90px;
        }

        .t-f91 {
            font-size: 91px;
        }

        .t-f92 {
            font-size: 92px;
        }

        .t-f93 {
            font-size: 93px;
        }

        .t-f94 {
            font-size: 94px;
        }

        .t-f95 {
            font-size: 95px;
        }

        .t-f96 {
            font-size: 96px;
        }

        .t-f97 {
            font-size: 97px;
        }

        .t-f98 {
            font-size: 98px;
        }

        .t-f99 {
            font-size: 99px;
        }
        .t-g1 {
            gap: 1px;
        }

        .t-g2 {
        gap: 2px;
        }

        .t-g3 {
        gap: 3px;
        }

        .t-g4 {
        gap: 4px;
        }

        .t-g5 {
        gap: 5px;
        }

        .t-g6 {
        gap: 6px;
        }

        .t-g7 {
        gap: 7px;
        }

        .t-g8 {
        gap: 8px;
        }

        .t-g9 {
        gap: 9px;
        }

        .t-g10 {
        gap: 10px;
        }

        .t-g11 {
        gap: 11px;
        }

        .t-g12 {
        gap: 12px;
        }

        .t-g13 {
        gap: 13px;
        }

        .t-g14 {
        gap: 14px;
        }

        .t-g15 {
        gap: 15px;
        }

        .t-g16 {
        gap: 16px;
        }

        .t-g17 {
        gap: 17px;
        }

        .t-g18 {
        gap: 18px;
        }

        .t-g19 {
        gap: 19px;
        }

        .t-g20 {
        gap: 20px;
        }

        .t-g21 {
        gap: 21px;
        }

        .t-g22 {
        gap: 22px;
        }

        .t-g23 {
        gap: 23px;
        }

        .t-g24 {
        gap: 24px;
        }

        .t-g25 {
        gap: 25px;
        }

        .t-g26 {
        gap: 26px;
        }

        .t-g27 {
        gap: 27px;
        }

        .t-g28 {
        gap: 28px;
        }

        .t-g29 {
        gap: 29px;
        }

        .t-g30 {
        gap: 30px;
        }

        .t-g31 {
        gap: 31px;
        }

        .t-g32 {
        gap: 32px;
        }

        .t-g33 {
        gap: 33px;
        }

        .t-g34 {
        gap: 34px;
        }

        .t-g35 {
        gap: 35px;
        }

        .t-g36 {
        gap: 36px;
        }

        .t-g37 {
        gap: 37px;
        }

        .t-g38 {
        gap: 38px;
        }

        .t-g39 {
        gap: 39px;
        }
        .t-g40 {
            gap: 40px;
        }
        .t-g41 {
            gap: 41px;
        }
        .t-g42 {
            gap: 42px;
        }
        .t-g43 {
            gap: 43px;
        }
        .t-g44 {
            gap: 44px;
        }
        .t-g45 {
            gap: 45px;
        }
        .t-g46 {
            gap: 46px;
        }
        .t-g47 {
            gap: 47px;
        }
        .t-g48 {
            gap: 48px;
        }
        .t-g49 {
            gap: 49px;
        }
        .t-g50 {
            gap: 50px;
        }
        .t-g51 {
            gap: 51px;
        }
        .t-g52 {
            gap: 52px;
        }
        .t-g53 {
            gap: 53px;
        }
        .t-g54 {
            gap: 54px;
        }
        .t-g55 {
            gap: 55px;
        }
        .t-g56 {
            gap: 56px;
        }
        .t-g57 {
            gap: 57px;
        }
        .t-g58 {
            gap: 58px;
        }
        .t-g59 {
            gap: 59px;
        }
        .t-g60 {
            gap: 60px;
        }
        .t-g61 {
            gap: 61px;
        }
        .t-g62 {
            gap: 62px;
        }
        .t-g63 {
            gap: 63px;
        }
        .t-g64 {
            gap: 64px;
        }
        .t-g65 {
            gap: 65px;
        }
        .t-g66 {
            gap: 66px;
        }
        .t-g67 {
            gap: 67px;
        }
        .t-g68 {
            gap: 68px;
        }
        .t-g69 {
            gap: 69px;
        }
        .t-g70 {
            gap: 70px;
        }
        .t-g71 {
            gap: 71px;
        }
        .t-g72 {
            gap: 72px;
        }
        .t-g73 {
            gap: 73px;
        }
        .t-g74 {
            gap: 74px;
        }
        .t-g75 {
            gap: 75px;
        }
        .t-g76 {
            gap: 76px;
        }
        .t-g77 {
            gap: 77px;
        }
        .t-g78 {
            gap: 78px;
        }
        .t-g79 {
            gap: 79px;
        }
        .t-g80 {
            gap: 80px;
        }
        .t-g81 {
            gap: 81px;
        }
        .t-g82 {
            gap: 82px;
        }
        .t-g83 {
            gap: 83px;
        }
        .t-g84 {
            gap: 84px;
        }
        .t-g85 {
            gap: 85px;
        }
        .t-g86 {
            gap: 86px;
        }
        .t-g87 {
            gap: 87px;
        }
        .t-g88 {
            gap: 88px;
        }
        .t-g89 {
            gap: 89px;
        }
        .t-g90 {
            gap: 90px;
        }
        .t-g91 {
            gap: 91px;
        }
        .t-g92 {
            gap: 92px;
        }
        .t-g93 {
            gap: 93px;
        }

        .t-g94 {
            gap: 94px;
        }

        .t-g95 {
            gap: 95px;
        }

        .t-g96 {
            gap: 96px;
        }

        .t-g97 {
            gap: 97px;
        }

        .t-g98 {
            gap: 98px;
        }

        .t-g99 {
            gap: 99px;
        }
        .t-flex-c {
            display: flex;
            flex-direction: column;
        }
        .t-flex-r {
            display: flex;
            flex-direction: row;
        }
        .t-flex-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .t-a-start {
            display: flex;
            align-items: flex-start;
        }
        .t-a-end {
            display: flex;
            align-items: flex-end;
        }
        .t-a-center {
            display: flex;
            align-items: center;
        }
    }
    @media only screen and (max-width: 660px) {
        .PC {
            display: none;
        }
        .Tablet {
            display: none;
        }
        .Mobile {
            display: flex;
        }
        .m-text-center {
            text-align: center;
        }
        .m-text-left {
            text-align: left;
        }
        .m-text-right {
            text-align: right;
        }
        .m-text-justify {
            text-align: justify;
        }
        .m-w1 {
            font-weight: 100;
        }
        .m-w2 {
            font-weight: 200;
        }

        .m-w3 {
            font-weight: 300;
        }

        .m-w4 {
            font-weight: 400;
        }

        .m-w5 {
            font-weight: 500;
        }

        .m-w6 {
            font-weight: 600;
        }

        .m-w7 {
            font-weight: 700;
        }

        .m-w8 {
            font-weight: 800;
        }

        .m-w9 {
            font-weight: 900;
        }
        .m-f1 {
            font-size: 1px;
        }

        .m-f2 {
            font-size: 2px;
        }

        .m-f3 {
            font-size: 3px;
        }

        .m-f4 {
            font-size: 4px;
        }

        .m-f5 {
            font-size: 5px;
        }

        .m-f6 {
            font-size: 6px;
        }

        .m-f7 {
            font-size: 7px;
        }

        .m-f8 {
            font-size: 8px;
        }

        .m-f9 {
            font-size: 9px;
        }

        .m-f10 {
            font-size: 10px;
        }

        .m-f11 {
            font-size: 11px;
        }

        .m-f12 {
            font-size: 12px;
        }

        .m-f13 {
            font-size: 13px;
        }

        .m-f14 {
            font-size: 14px;
        }

        .m-f15 {
            font-size: 15px;
        }

        .m-f16 {
            font-size: 16px;
        }

        .m-f17 {
            font-size: 17px;
        }

        .m-f18 {
            font-size: 18px;
        }

        .m-f19 {
            font-size: 19px;
        }

        .m-f20 {
            font-size: 20px;
        }

        .m-f21 {
            font-size: 21px;
        }

        .m-f22 {
            font-size: 22px;
        }

        .m-f23 {
            font-size: 23px;
        }

        .m-f24 {
            font-size: 24px;
        }

        .m-f25 {
            font-size: 25px;
        }

        .m-f26 {
            font-size: 26px;
        }

        .m-f27 {
            font-size: 27px;
        }

        .m-f28 {
            font-size: 28px;
        }

        .m-f29 {
            font-size: 29px;
        }

        .m-f30 {
            font-size: 30px;
        }

        .m-f31 {
            font-size: 31px;
        }

        .m-f32 {
            font-size: 32px;
        }

        .m-f33 {
            font-size: 33px;
        }

        .m-f34 {
            font-size: 34px;
        }

        .m-f35 {
            font-size: 35px;
        }

        .m-f36 {
            font-size: 36px;
        }

        .m-f37 {
            font-size: 37px;
        }

        .m-f38 {
            font-size: 38px;
        }

        .m-f39 {
            font-size: 39px;
        }

        .m-f40 {
            font-size: 40px;
        }

        .m-f41 {
            font-size: 41px;
        }

        .m-f42 {
            font-size: 42px;
        }

        .m-f43 {
            font-size: 43px;
        }

        .m-f44 {
            font-size: 44px;
        }

        .m-f45 {
            font-size: 45px;
        }

        .m-f46 {
            font-size: 46px;
        }

        .m-f47 {
            font-size: 47px;
        }

        .m-f48 {
            font-size: 48px;
        }

        .m-f49 {
            font-size: 49px;
        }

        .m-f50 {
            font-size: 50px;
        }

        .m-f51 {
            font-size: 51px;
        }

        .m-f52 {
            font-size: 52px;
        }

        .m-f53 {
            font-size: 53px;
        }

        .m-f54 {
            font-size: 54px;
        }

        .m-f55 {
            font-size: 55px;
        }

        .m-f56 {
            font-size: 56px;
        }

        .m-f57 {
            font-size: 57px;
        }

        .m-f58 {
            font-size: 58px;
        }

        .m-f59 {
            font-size: 59px;
        }

        .m-f60 {
            font-size: 60px;
        }

        .m-f61 {
            font-size: 61px;
        }

        .m-f62 {
            font-size: 62px;
        }

        .m-f63 {
            font-size: 63px;
        }

        .m-f64 {
            font-size: 64px;
        }

        .m-f65 {
            font-size: 65px;
        }

        .m-f66 {
            font-size: 66px;
        }

        .m-f67 {
            font-size: 67px;
        }

        .m-f68 {
            font-size: 68px;
        }

        .m-f69 {
            font-size: 69px;
        }

        .m-f70 {
            font-size: 70px;
        }

        .m-f71 {
            font-size: 71px;
        }

        .m-f72 {
            font-size: 72px;
        }

        .m-f73 {
            font-size: 73px;
        }

        .m-f74 {
            font-size: 74px;
        }

        .m-f75 {
            font-size: 75px;
        }

        .m-f76 {
            font-size: 76px;
        }

        .m-f77 {
            font-size: 77px;
        }

        .m-f78 {
            font-size: 78px;
        }

        .m-f79 {
            font-size: 79px;
        }

        .m-f80 {
            font-size: 80px;
        }

        .m-f81 {
            font-size: 81px;
        }

        .m-f82 {
            font-size: 82px;
        }

        .m-f83 {
            font-size: 83px;
        }

        .m-f84 {
            font-size: 84px;
        }

        .m-f85 {
            font-size: 85px;
        }

        .m-f86 {
            font-size: 86px;
        }

        .m-f87 {
            font-size: 87px;
        }

        .m-f88 {
            font-size: 88px;
        }

        .m-f89 {
            font-size: 89px;
        }

        .m-f90 {
            font-size: 90px;
        }

        .m-f91 {
            font-size: 91px;
        }

        .m-f92 {
            font-size: 92px;
        }

        .m-f93 {
            font-size: 93px;
        }

        .m-f94 {
            font-size: 94px;
        }

        .m-f95 {
            font-size: 95px;
        }

        .m-f96 {
            font-size: 96px;
        }

        .m-f97 {
            font-size: 97px;
        }

        .m-f98 {
            font-size: 98px;
        }

        .m-f99 {
            font-size: 99px;
        }
        .m-g1 {
            gap: 1px;
        }
        .m-g2 {
        gap: 2px;
        }

        .m-g3 {
        gap: 3px;
        }

        .m-g4 {
        gap: 4px;
        }

        .m-g5 {
        gap: 5px;
        }

        .m-g6 {
        gap: 6px;
        }

        .m-g7 {
        gap: 7px;
        }

        .m-g8 {
        gap: 8px;
        }

        .m-g9 {
        gap: 9px;
        }

        .m-g10 {
        gap: 10px;
        }

        .m-g11 {
        gap: 11px;
        }

        .m-g12 {
        gap: 12px;
        }

        .m-g13 {
        gap: 13px;
        }

        .m-g14 {
        gap: 14px;
        }

        .m-g15 {
        gap: 15px;
        }

        .m-g16 {
        gap: 16px;
        }

        .m-g17 {
        gap: 17px;
        }

        .m-g18 {
        gap: 18px;
        }

        .m-g19 {
        gap: 19px;
        }

        .m-g20 {
        gap: 20px;
        }

        .m-g21 {
        gap: 21px;
        }

        .m-g22 {
        gap: 22px;
        }

        .m-g23 {
        gap: 23px;
        }

        .m-g24 {
        gap: 24px;
        }

        .m-g25 {
        gap: 25px;
        }

        .m-g26 {
        gap: 26px;
        }

        .m-g27 {
        gap: 27px;
        }

        .m-g28 {
        gap: 28px;
        }

        .m-g29 {
        gap: 29px;
        }

        .m-g30 {
        gap: 30px;
        }

        .m-g31 {
        gap: 31px;
        }

        .m-g32 {
        gap: 32px;
        }

        .m-g33 {
        gap: 33px;
        }

        .m-g34 {
        gap: 34px;
        }

        .m-g35 {
        gap: 35px;
        }

        .m-g36 {
        gap: 36px;
        }

        .m-g37 {
        gap: 37px;
        }

        .m-g38 {
        gap: 38px;
        }

        .m-g39 {
        gap: 39px;
        }
        .m-g40 {
            gap: 40px;
        }
        .m-g41 {
            gap: 41px;
        }
        .m-g42 {
            gap: 42px;
        }
        .m-g43 {
            gap: 43px;
        }
        .m-g44 {
            gap: 44px;
        }
        .m-g45 {
            gap: 45px;
        }
        .m-g46 {
            gap: 46px;
        }
        .m-g47 {
            gap: 47px;
        }
        .m-g48 {
            gap: 48px;
        }
        .m-g49 {
            gap: 49px;
        }
        .m-g50 {
            gap: 50px;
        }
        .m-g51 {
            gap: 51px;
        }
        .m-g52 {
            gap: 52px;
        }
        .m-g53 {
            gap: 53px;
        }
        .m-g54 {
            gap: 54px;
        }
        .m-g55 {
            gap: 55px;
        }
        .m-g56 {
            gap: 56px;
        }
        .m-g57 {
            gap: 57px;
        }
        .m-g58 {
            gap: 58px;
        }
        .m-g59 {
            gap: 59px;
        }
        .m-g60 {
            gap: 60px;
        }
        .m-g61 {
            gap: 61px;
        }
        .m-g62 {
            gap: 62px;
        }
        .m-g63 {
            gap: 63px;
        }
        .m-g64 {
            gap: 64px;
        }
        .m-g65 {
            gap: 65px;
        }
        .m-g66 {
            gap: 66px;
        }
        .m-g67 {
            gap: 67px;
        }
        .m-g68 {
            gap: 68px;
        }
        .m-g69 {
            gap: 69px;
        }
        .m-g70 {
            gap: 70px;
        }
        .m-g71 {
            gap: 71px;
        }
        .m-g72 {
            gap: 72px;
        }
        .m-g73 {
            gap: 73px;
        }
        .m-g74 {
            gap: 74px;
        }
        .m-g75 {
            gap: 75px;
        }
        .m-g76 {
            gap: 76px;
        }
        .m-g77 {
            gap: 77px;
        }
        .m-g78 {
            gap: 78px;
        }
        .m-g79 {
            gap: 79px;
        }
        .m-g80 {
            gap: 80px;
        }
        .m-g81 {
            gap: 81px;
        }
        .m-g82 {
            gap: 82px;
        }
        .m-g83 {
            gap: 83px;
        }
        .m-g84 {
            gap: 84px;
        }
        .m-g85 {
            gap: 85px;
        }
        .m-g86 {
            gap: 86px;
        }
        .m-g87 {
            gap: 87px;
        }
        .m-g88 {
            gap: 88px;
        }
        .m-g89 {
            gap: 89px;
        }
        .m-g90 {
            gap: 90px;
        }
        .m-g91 {
            gap: 91px;
        }
        .m-g92 {
            gap: 92px;
        }
        .m-g93 {
            gap: 93px;
        }
        .m-g94 {
            gap: 94px;
        }
        .m-g95 {
            gap: 95px;
        }
        .m-g96 {
            gap: 96px;
        }
        .m-g97 {
            gap: 97px;
        }
        .m-g98 {
            gap: 98px;
        }
        .m-g99 {
            gap: 99px;
        }
        .m-flex-c {
            display: flex;
            flex-direction: column;
        }
        .m-flex-r {
            display: flex;
            flex-direction: row;
        }
        .m-flex-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        .m-a-start {
            display: flex;
            align-items: flex-start;
        }
        .m-a-end {
            display: flex;
            align-items: flex-end;
        }
        .m-a-center {
            display: flex;
            align-items: center;
        }
        .m-j-left {
            display: flex;
            justify-content: left;
        }
        .m-j-center {
            display: flex;
            justify-content: left;
        }
    }

   